node-red/weather-flow.json
[{"id":"5f909cfa.77174c","type":"mqtt in","z":"ffc3b7e0.2f8da8","name":"","topic":"iot01/weatherStation/#","qos":"1","broker":"45855776.072","x":170,"y":160,"wires":[["4feb50e1.db6fa","c426cf2.065963","4bf2cb75.9b88bc"]]},{"id":"8544b050.2e7c78","type":"debug","z":"ffc3b7e0.2f8da8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":160,"wires":[]},{"id":"4feb50e1.db6fa","type":"function","z":"ffc3b7e0.2f8da8","name":"Temperatur Filter","func":"if (msg.topic === \"iot01/weatherStation/temperature\")\n{\n    msg.payload = msg.payload + \"ºC\";\n    return msg;\n}","outputs":1,"noerr":0,"x":390,"y":300,"wires":[["8544b050.2e7c78","309cb2b1.dd6bee"]]},{"id":"309cb2b1.dd6bee","type":"ui_text","z":"ffc3b7e0.2f8da8","group":"e6ccec97.5b8a1","order":0,"width":0,"height":0,"name":"Wetterstation","label":"Temperatur:","format":"{{msg.payload}}","layout":"row-spread","x":680,"y":400,"wires":[]},{"id":"c267f51e.0b25c8","type":"ui_text","z":"ffc3b7e0.2f8da8","group":"e6ccec97.5b8a1","order":0,"width":0,"height":0,"name":"Pressure","label":"Luftdruck","format":"{{msg.payload}}","layout":"row-spread","x":680,"y":460,"wires":[]},{"id":"c426cf2.065963","type":"function","z":"ffc3b7e0.2f8da8","name":"Pressure Filter","func":"if (msg.topic === \"iot01/weatherStation/pressure\")\n{\n    msg.payload = msg.payload + \"Pa\";\n    return msg;\n}","outputs":1,"noerr":0,"x":380,"y":360,"wires":[["c267f51e.0b25c8"]]},{"id":"4bf2cb75.9b88bc","type":"function","z":"ffc3b7e0.2f8da8","name":"Humidity Filter","func":"if (msg.topic === \"iot01/weatherStation/humidity\")\n{\n    msg.payload = msg.payload + \"%\";\n    return msg;\n}","outputs":1,"noerr":0,"x":380,"y":420,"wires":[["731f7700.f9f7b8"]]},{"id":"731f7700.f9f7b8","type":"ui_text","z":"ffc3b7e0.2f8da8","group":"e6ccec97.5b8a1","order":0,"width":0,"height":0,"name":"Humidity","label":"Feuchtigkeit","format":"{{msg.payload}}","layout":"row-spread","x":680,"y":520,"wires":[]},{"id":"45855776.072","type":"mqtt-broker","z":"","name":"iot-workshop","broker":"iot.local","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"e6ccec97.5b8a1","type":"ui_group","z":"","name":"Wetterinfos","tab":"ac05aade.bcce5","order":1,"disp":true,"width":"6","collapse":false},{"id":"ac05aade.bcce5","type":"ui_tab","z":"","name":"Klima","icon":"dashboard","order":1}]